*/*
!.config/*
!.icons/*
.config/Bitwarden/
.config/chromium/
.config/discord/
.config/GIMP/
.config/heroic/
.config/JetBrains/
.config/libreoffice/
.config/obsidian/
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
