.ssh/
.cache/
.mozilla/
.cargo/
.pki/
.local/state/
.local/share/
.gnupg/
.nuget/
.dmrc
.xsession-errors*
.config/Bitwarden/
.dotfiles/
.config/discord/
.jdks/
.gradle/
dwm/
dwmblocks-async/
Documents
Downloads
Pictures
Desktop
Templates
Videos
Public
Music
