.config/Bitwarden/
.config/chromium/
.config/discord/
.config/GIMP/
.config/heroic/
.config/JetBrains/
.config/libreoffice/
.config/obsidian/
.cache/
.cargo/
.dotfiles/
.gnupg/
.gradle/
.jdks/
.local/
.mozilla/
.nuget/
.nv/
.pki/
.rustup/
.ssh/
.wine/
.dmrc
.xsession-errors*
dwm/
dwmblocks-async/
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
Games/
